.DS_Store
/myenv/
/myenv/*
*.pyc  
*.pyo  
pip-log.txt  
Dataset_MovieSummaries/X_test.csv
Dataset_MovieSummaries/X_train.csv
Dataset_MovieSummaries/y_test.csv
Dataset_MovieSummaries/y_train.csv
models/my_tfidf_min20.pkl
